h1{
    background-color: #F8DE22;
    text-align: center;
    color:#AF8F6F;
    
    
}
a{
    color:darkred;
    size: 20px;
    border:2px black;

}
img{
    size:2px;
    border: 10px black;
}
a{
    background-color: aqua;
    margin-bottom:2px;
}

